.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #fff;
    z-index: 9999;
    text-align: center;
    
}

.preloader-icon{
    position: relative;
    top: 45%;
    width: 100px;
}